<div [@routerTransition]>
        <app-page-header [heading]="'Edit experiment'" [icon]="'fa-bar-chart-o'"></app-page-header>
        <div class="row">
                <div class="col-lg-6">
        
                    <form role="form">
                        <fieldset class="form-group">
                            <label>Name</label>
                            <input class="form-control" name="name">
                        </fieldset>
                        <br>
                        <fieldset class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="3" name="description"></textarea>
                        </fieldset>
                        <br>
                        <label>Start date</label>
                        &nbsp;
                        <input type="date" name="start">
    
                        <br>
                        <br>
    
                        <label>End date</label>
                        &nbsp;
                        &nbsp;
                        <input type="date" name="end">
    
                    </form>
                    <br>
                    <br>
                    <button type="button" [routerLink]="['/experiment']" class="btn btn-lg btn-success">Submit</button>
                    &nbsp;
                    &nbsp;
                    <button type="button" [routerLink]="['/experiment']" class="btn btn-lg btn-danger">Cancel</button>
                    
                </div>
            </div>
            <!-- /.row -->
    </div>
    