<div [@routerTransition]>
    <app-page-header [heading]="'Experiment'" [icon]="'fa-table'"></app-page-header>
    <button type="button" [routerLink]="['/createExperiment']" class="btn btn-lg btn-primary">New Experiment</button>
    <br>
    <br>
    <div class="row">
        
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">My Experiments</div>
                <table class="card-body table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Experiment</th>
                        <th>Date</th>
                        <th>Total Questions</th>
                        <th>Total Users</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><button type="button" [routerLink]="['/experiment']" class="btn btn-sm btn-link">Mark</button></td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>adfa</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><button type="button" [routerLink]="['/experiment']" class="btn btn-sm btn-link">Jacob</button></td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>adfa</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><button type="button" [routerLink]="['/experiment']" class="btn btn-sm btn-link">Larry</button></td>
                        <td>Something</td>
                        <td>@twitter</td>
                        <td>adfa</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>
