<div class="col-sm-6">    
    <div class="card text-white bg-dark mb-3">
            <div class="card-header">User Name</div>
            <div class="card-body">
                <h4 class="card-title">Experiment Name</h4>
                <p class="card-text">Description of experiment.</p>
                <p class="card-text">From: dd-mm-yyyy To: dd-mm-yyyy</p>
            </div>
    </div>
</div>

<br>
<button type="button" [routerLink]="['/editExperiment']" class="btn btn-lg btn-success">Edit</button>
&nbsp;
&nbsp;
<button type="button" [routerLink]="['/experiments']" class="btn btn-lg btn-danger">Back</button>
